<h1>
  This is the Index Page
</h1>

<% @events.each do |event| %>
  <li> Event "title" <%= link_to event.title, event %> </li>
  <li> Host: <%= event.host %> </li>
  <li> Date: <%= event.date %> </li>
  <li> Time: <%= event.timestart %> </li>
  <button class='btn btn-danger'>Attend!</button>

  <br>

<% end %>
