<h1>this is the events > show.html.erb page</h1>

<li> Title: <%= @event.title %> </li>
<li> Host: <%= @event.host %> </li>
<li> Date: <%= @event.date %> </li>
<li> Time: <%= @event.timestart %> </li>
<br>
