.nav {
	color: white;
}

.navbar-inverse .navbar-nav li a{
	color: white;
}

.navbar-inverse {
	background-color: #544E4E;
	/*background-color: #DA6200;*/
}

#main-container{
	/*background-image: url("../img/hackathon4.jpg");*/

background: url("../img/hackathon5.jpg") no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
height:550px;
}

h2{
	color: white;
	text-align: center;
}

.btn{
	background-color: white;
}