/* Font Colors j*/
$base-font-size: 15px;
$base-font-family: "Segoe UI", "Segoe WP", "Segoe Regular";
$base-font-color: #666666;

/* Background Colors */
$primary-color: #00aff0;
$secondary-color: #7fba00;
$light-color: #e4eef2;
$dark-color: #333333;

/* Showcase Area */
$showcase-height: 400px;
$showcase-image: '../img/showcase.jpg';

$facebook-color: #3b5998;

/* Font-Family */
$font01: 'Oregano', cursive;
$font02: 'Codystar', cursive;
$font03: 'Tangerine', cursive;
$font04: 'Great Vibes', cursive;
$font05: 'Yellowtail', cursive;
$font06: 'Damion', cursive;
$font07: 'Nothing You Could Do', cursive;
$font08: 'La Belle Aurore', cursive;
$font09: 'Vampiro One', cursive;