.container {
	/* background-image:url('http://goo.gl/04j7Nn'); */
  /* background-image:url("http://stevenjchang.github.io/airbnb/bg.png"); */
  /*background-image: url('file:///Users/stevenchang/Documents/stevenjchang.github.io/project1/img/bg.png');*/
  height: 1024px;
  background-repeat: no-repeat;
  background-size: cover;
}

ul { list-style: none; padding: 10; margin: 0; width: 250px; display: inline-table;}
li { border: 1px solid #ccc; background: #eee; padding: 5px 10px; color: blue}


  * { 
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: helvetica, arial, sans-serif;
  }
  body {
    /*padding: 2em;*/
      /*background-image: url('file:///Users/stevenchang/Documents/stevenjchang.github.io/project1/img/bg2.png');
      background-repeat: no-repeat;
  	  background-size: cover;*/
  }
  ul {
    margin:1em;
  }
  a {
    display: block;
    padding-bottom: 10px;
    color: #369;
  }
  footer, section, header, aside, figure {
    display: block;
  }

.redx{
	height: 1.5em; 
	float: right;
	background: white;
}

.redximg {
	height: 1.3em;
}

  iframe {
    display: block;
    border: none;
    width: 100%;
    height: 500px;
  }
