body{
	font-family: $base-font-family;
	font-size: $base-font-size;
	list-style: 1.7em;
	color: $base-font-color;
	padding-top: 60px; 
}
@media screen and (max-width: 768px) {
    body { padding-top: 60px; }
}


a{
	color: #00aff0;
}

ul, li{
	list-style: none;
}

input, textarea, button{
	@include border-radius(0px);
}

img.img-main{
	width: 70%;
	margin-bottom:40px;
	display: block;
	margin: auto;
}
img.device-small{
	width: 70%;
	margin-bottom: -40px;
}

#jumbotron-custom{
	background: url("../img/taipei4.png") no-repeat center center;
	/*background-color: red;*/
	/*height:500px;
	width:100%;*/
	color:white;
	min-height: 400px;
	margin-top:0px;
	
}

img.group-img{
	height:60px;
	width:60px;
}

img.img-group{
	height:50px;
	width:50px;
}