/* 
	SkyApp Bootstrap Sass Theme
	Author: Brad Traversy
	Version: 0.0.1

*/
/*	BASE - Base styles, variables, mixins, etc */
/* Font Colors j*/
/* Background Colors */
/* Showcase Area */
/* Font-Family */
/* Mixins */
/* line 1, ../scss/base/_normalize.scss */
h1, h2, h3, h3, h5 {
  margin-top: 0;
}

/* line 5, ../scss/base/_normalize.scss */
.page-header {
  margin-top: 30px;
}

/* line 9, ../scss/base/_normalize.scss */
.no-pad-top {
  padding-top: 0;
}

/* line 13, ../scss/base/_normalize.scss */
.extra-pad {
  padding-top: 40px;
  padding-bottom: 40px;
}

/* from the Responsive Web Design YouTube video
----- https://www.youtube.com/watch?v=9fHSbiCISOA */
/* line 20, ../scss/base/_normalize.scss */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 1, ../scss/base/_base.scss */
body {
  font-family: "Segoe UI", "Segoe WP", "Segoe Regular";
  font-size: 15px;
  list-style: 1.7em;
  color: #666666;
  padding-top: 60px;
}

@media screen and (max-width: 768px) {
  /* line 9, ../scss/base/_base.scss */
  body {
    padding-top: 60px;
  }
}
/* line 13, ../scss/base/_base.scss */
a {
  color: #00aff0;
}

/* line 17, ../scss/base/_base.scss */
ul, li {
  list-style: none;
}

/* line 21, ../scss/base/_base.scss */
input, textarea, button {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

/* line 25, ../scss/base/_base.scss */
img.img-main {
  width: 70%;
  margin-bottom: 40px;
  display: block;
  margin: auto;
}

/* line 31, ../scss/base/_base.scss */
img.device-small {
  width: 70%;
  margin-bottom: -40px;
}

/* line 36, ../scss/base/_base.scss */
#jumbotron-custom {
  background: url("../img/taipei4.png") no-repeat center center;
  /*background-color: red;*/
  /*height:500px;
  width:100%;*/
  color: white;
  min-height: 400px;
  margin-top: 0px;
}

/* line 47, ../scss/base/_base.scss */
img.group-img {
  height: 60px;
  width: 60px;
}

/* line 52, ../scss/base/_base.scss */
img.img-group {
  height: 50px;
  width: 50px;
}

/* MODULES - Individual site components */
/* Typography - Lists 

*/
/* line 5, ../scss/modules/_typography.scss */
.list, .ol-w-line {
  margin-bottom: 30px;
}

/* line 9, ../scss/modules/_typography.scss */
.ol-w-line {
  margin: 0;
  padding: 0;
  width: 80%;
}
/* line 15, ../scss/modules/_typography.scss */
.ol-w-line li {
  /* line-height:0.3em; */
  font-size: 10px;
  border-bottom: 1px solid #cccccc;
}
/* line 21, ../scss/modules/_typography.scss */
.ol-w-line a {
  font-size: 15px;
  color: #009cd6;
  /* line-height:2.4em; */
  /* @include add-border(1px, #cccccc, bottom); */
}
/* line 28, ../scss/modules/_typography.scss */
.ol-w-line li:last-child {
  border: 0;
}
/* line 32, ../scss/modules/_typography.scss */
.ol-w-line span {
  vertical-align: top;
  padding-top: 9px;
  font-size: 120%;
}
/* line 38, ../scss/modules/_typography.scss */
.ol-w-line i {
  margin-top: 9px;
  margin-right: 5px;
}

/* line 44, ../scss/modules/_typography.scss */
.fa-2 {
  font-size: 18px;
}

/* line 47, ../scss/modules/_typography.scss */
.fa-3 {
  font-size: 24px;
}

/* line 50, ../scss/modules/_typography.scss */
.fa-4 {
  font-size: 27px;
}

/* line 53, ../scss/modules/_typography.scss */
.fa-5 {
  font-size: 35px;
}

/* line 56, ../scss/modules/_typography.scss */
.fa-6 {
  font-size: 40px;
}

/* line 60, ../scss/modules/_typography.scss */
.fa-primary {
  color: #00aff0;
}

/* line 63, ../scss/modules/_typography.scss */
.fa-border {
  border: 1px solid #00aff0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 15px;
  width: 70px;
  margin-bottom: 10px;
}

/* line 71, ../scss/modules/_typography.scss */
.heading-primary {
  color: #00aff0;
}

/* line 74, ../scss/modules/_typography.scss */
.heading-secondary {
  color: #7fba00;
}

/* line 77, ../scss/modules/_typography.scss */
.heading-light {
  color: #e4eef2;
}

/* line 80, ../scss/modules/_typography.scss */
.heading-dark {
  color: #333333;
}

/* line 84, ../scss/modules/_typography.scss */
#h2-1 {
  color: #3b5998;
  text-align: center;
  margin-top: 20px;
}

/* line 89, ../scss/modules/_typography.scss */
#h2-2 {
  color: white;
  text-align: center;
  /*margin-top: 20px;*/
  margin-bottom: 35px;
}

/* line 95, ../scss/modules/_typography.scss */
.b-cate {
  margin-bottom: 10px;
}

/* line 100, ../scss/modules/_typography.scss */
.page1 p {
  color: black !important;
}

/* line 105, ../scss/modules/_typography.scss */
#corner-text {
  font-family: "Damion", cursive;
  font-size: 32px;
}

/* ---------this is from YouTube Responsive Web Design, building the side-bar, steve-sidebar */
/* line 111, ../scss/modules/_typography.scss */
#logo {
  margin-bottom: 15px;
}

/* line 114, ../scss/modules/_typography.scss */
.sb-item {
  height: 34px;
  list-style-type: none;
  margin-bottom: 21px;
}

/* line 119, ../scss/modules/_typography.scss */
.sb-icon-list {
  margin-bottom: 60px;
}

/* line 122, ../scss/modules/_typography.scss */
.first-sb {
  background: url("../img/img1.png") bottom left no-repeat;
}

/* line 125, ../scss/modules/_typography.scss */
.second-sb {
  background: url("../img/img1.png") bottom left no-repeat;
}

/* line 128, ../scss/modules/_typography.scss */
.third-sb {
  background: url("../img/img1.png") bottom left no-repeat;
}

/* line 131, ../scss/modules/_typography.scss */
.fourth-sb {
  background: url("../img/img1.png") bottom left no-repeat;
}

/* line 134, ../scss/modules/_typography.scss */
.fifth-sb {
  background: url("../img/img1.png") bottom left no-repeat;
}

/* line 137, ../scss/modules/_typography.scss */
.list-span {
  display: inline-block;
  padding-left: 45px;
  padding-top: 4px;
  font-size: 1.4em;
}

/* line 143, ../scss/modules/_typography.scss */
#social-title {
  display: block;
  border-bottom: 1px dashed #221F51;
  width: 143px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

/* line 150, ../scss/modules/_typography.scss */
.social-icons {
  padding-right: 7px;
}

/* line 153, ../scss/modules/_typography.scss */
aside {
  float: left;
  margin-right: 35px;
}

/* Blocks */
/* line 3, ../scss/modules/_blocks.scss */
#row1 #row2 #row3 {
  display: inline-block;
}

/* line 6, ../scss/modules/_blocks.scss */
#row5 {
  margin: auto;
}

/* line 10, ../scss/modules/_blocks.scss */
.block, .block-primary, .block-secondary, .block-light, .block-dark {
  padding: 15px;
  margin-bottom: 15px;
}
/* line 14, ../scss/modules/_blocks.scss */
.block h3, .block-primary h3, .block-secondary h3, .block-light h3, .block-dark h3 {
  margin-top: 0;
  padding-top: 0;
}

/* line 20, ../scss/modules/_blocks.scss */
.block-primary {
  background: #00aff0;
  color: #ffffff;
}

/* line 24, ../scss/modules/_blocks.scss */
.block-secondary {
  background: #7fba00;
  color: #ffffff;
}

/* line 28, ../scss/modules/_blocks.scss */
.block-light {
  background: #e4eef2;
  color: #666666;
}

/* line 32, ../scss/modules/_blocks.scss */
.block-dark {
  background: #333333;
  color: #ffffff;
}

/* line 36, ../scss/modules/_blocks.scss */
.block-center {
  text-align: center !important;
}

/* Buttons */
/* line 3, ../scss/modules/_buttons.scss */
.btn-primary {
  background: #00aff0;
  color: #ffffff;
  border: 2px solid white;
}

/* line 8, ../scss/modules/_buttons.scss */
.btn-primary:hover {
  background: #24c4ff;
  border: 2px solid white;
}

/* Sections */
/* line 3, ../scss/modules/_sections.scss */
section {
  padding: 60px 0 60px 0px;
}

/* line 8, ../scss/modules/_sections.scss */
.section-showcase {
  height: 400px;
  background: url("../img/showcase.jpg") no-repeat top center;
}
/* line 12, ../scss/modules/_sections.scss */
.section-showcase .showcase-content {
  padding: 110px 15px;
  text-align: center;
}
/* line 17, ../scss/modules/_sections.scss */
.section-showcase h1 {
  color: #00aff0;
}

/* line 22, ../scss/modules/_sections.scss */
.section-primary {
  background: #00aff0;
  color: #ffffff;
}

/* line 25, ../scss/modules/_sections.scss */
.section-secondary {
  background: #7fba00;
  color: #ffffff;
}

/* line 28, ../scss/modules/_sections.scss */
.section-light {
  background: #e4eef2;
  color: #666666;
}

/* line 31, ../scss/modules/_sections.scss */
.section-dark {
  background: #333333;
  color: #ffffff;
}

/*
.section-bg-white{
	@include add-background(#E6E6E6);
}
.section-bg-color{
	@include add-background($dark-color);
} */
/* line 42, ../scss/modules/_sections.scss */
.section-special {
  padding: 0 0 15px 0;
}

/* line 46, ../scss/modules/_sections.scss */
section:nth-of-type(even) {
  background: #333333;
  color: #ffffff;
}

/* line 50, ../scss/modules/_sections.scss */
.section-no-top {
  padding: 0 0 30px 0;
}

/* Forms - Searchbox */
/* line 3, ../scss/modules/_forms.scss */
.search {
  width: 100%;
}
/* line 6, ../scss/modules/_forms.scss */
.search h3 {
  margin-top: 0;
  padding-top: 0;
}
/* line 11, ../scss/modules/_forms.scss */
.search input[type='search'] {
  border: 0;
  height: 50px;
  width: 80%;
  border: 2px solid "@primary-color";
  font-size: 18px;
  padding-left: 10px;
  padding-bottom: 5px;
}
/* line 21, ../scss/modules/_forms.scss */
.search button {
  border: 0;
  background: none;
  padding: 0;
  vertical-align: top;
  margin-left: -4px;
}

/* LAYOUTS - Page layout styles */
/* Navbar */
/* line 4, ../scss/layouts/_nav.scss */
.navbar {
  width: 100%;
  margin: auto;
  border-left: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
  border-color: #e7e7e7;
  min-height: 60px;
  background: #3b5998;
  margin-bottom: 25px;
}
/* line 13, ../scss/layouts/_nav.scss */
.navbar a.a-lg-font {
  color: white !important;
  font-size: 20px;
  letter-spacing: -0.5px;
  padding-bottom: 24px !important;
  padding-top: 20px !important;
}
/* line 20, ../scss/layouts/_nav.scss */
.navbar a.navbar-brand {
  color: white;
}

/* line 27, ../scss/layouts/_nav.scss */
.dropdown-menu > li > a {
  color: white;
}

/* line 31, ../scss/layouts/_nav.scss */
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  background: #3b5998 !important;
  color: #fff !important;
}

/* line 35, ../scss/layouts/_nav.scss */
.dropdown-menu {
  background-color: #3b5998 !important;
  margin: 1px;
}
/* line 39, ../scss/layouts/_nav.scss */
.dropdown-menu li {
  padding: 3px !important;
}

/* line 1, ../scss/layouts/_footer.scss */
footer {
  float: bottom !important;
  background-color: #3b5998;
}
