/* Sections */

section{
	padding: 60px 0 60px 0px;
}


.section-showcase{
	height: $showcase-height;
	background: url($showcase-image) no-repeat top center;
	
	.showcase-content{
		padding: 110px 15px;
		text-align: center;
	}

	h1{
		color: $primary-color;
	}
}

.section-primary{
	@include add-background($primary-color);
}
.section-secondary{
	@include add-background($secondary-color);
}
.section-light{
	@include add-background($light-color);
}
.section-dark{
	@include add-background($dark-color);
}
/*
.section-bg-white{
	@include add-background(#E6E6E6);
}
.section-bg-color{
	@include add-background($dark-color);
} */

.section-special{
	padding: 0 0 15px 0;
}

section:nth-of-type(even){
	@include add-background($dark-color);
}

.section-no-top{
	padding: 0 0 30px 0;
}
